.DS_Store
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
.idea/
*.sqlite
*.sqlite-journal
.build/
.swiftpm-cache/
build/
Tools/
crash.ips
*.ips
run-*.log
